/* Paleta de cores */
:root {
    --cor0: #2C3E50;
    --cor1: #FFF;
    --cor2: #2980B9;
    --cor3: #385af3;
    --cor4: #1B2631;
    --cor5: #7F8C8D;
    --cor6: #fffd82;
    --cor7: #386c8357; 
    --cor8: #e7eced;
    --cor9: #16bec3;
  }
  
  body {
    background-image: url(img/wallpaper-5.png);
    font-size: 18px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--cor0);
  }
  /* Tabela beg */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid var(--cor3);
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: var(--cor3);
    color: var(--cor1);
  }
  
  tr:nth-child(even) {
    background-color: var(--cor5);
  }
  
  tr:hover {
    background-color: var(--cor5);
  }
  /* Tabela End */
  p {
    font-size: 22px;
  }
  
  button {
    background-color: var(--cor3);
    color: var(--cor1);
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--cor4);
  }
  /* Formulario e Afins Beg */
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-top: 10px;
  }
  /* Label do cep */
  label[for="cep1"] {
    display:block;
    width: 150px;
    text-align: right;
    padding-top: 10px;
    margin-left: -80px;
    
  }
  label[for="quantity"] {
    display:flex;
    width: 150px;
    text-align: right;
    padding-top: 10px;
    
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--cor5);
  }
  
  select {
    width: 205px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--cor5);
  }
  
  button[type="submit"] {
    align-self: flex-end;
  }
  /* Formulario e Afins End  */
  /*  */
  
  #confirmar {
    margin-right:1670px; 
  }
form {
  margin-top: 20px;
}
