:root {
  --primary-color: #32c8df;
  --secondary-color: #72fefe;
  --font-size: 1.2rem;
}
/* * {
  margin:0
} */
body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.video-container {
  flex: 1;
  position: relative;
  height: 100vh;
}

#bg-video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

form {
  background-color: #fff;
  height: 100vh;
  max-width: 480px;
  border-radius: 0;
  z-index: 2;
  padding: 3rem;
  position: relative;
  width: 100%;
}

h1 {
  margin-bottom: 1em;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
  font-size: var(--font-size);
}

input[type="email"],
input[type="password"] {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 2px solid #ccc; /* adiciona uma borda cinza */
  border-radius: 0.25em;
  font-size: 1.2em; /* aumenta o tamanho da fonte */
}

input[type="submit"] {
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  background-color: var(--primary-color);
  color: #fff;
  font-size: var(--font-size);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.text-muted {
  font-size: 1rem;
  margin-top: 1em;
}

.text-muted a {
  color: #999;
  text-decoration: none;
  font-size: var(--font-size);
}

.text-muted a:hover {
  text-decoration: underline;
}

.icon {
  font-size: var(--font-size);
  color: #444;
  margin-right: 1em;
  cursor: pointer;
}
.social-list {
  margin-left: 10px;
  padding: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 10px;
}

.social-list-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*------------------------------------------------------------------*/
                  /* RESPONSIVIDADE */
/*------------------------------------------------------------------*/
