:root {
    --primary-color: #32c8df;
    --secondary-color: #72fefe;
  }
  
  body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .video-container {
    flex: 1;
    position: relative;
    height: 100vh;
  }
  
  #bg-video {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
 
  
  form {
    background-color: #fff;
    /* padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 20%;
    max-height: 100%; */
   /*  */
   max-width: 480px;
    border-radius: 0;
    z-index: 2;
    padding: 3rem;
    position: relative;
    width: 100%;
  }
  
  
  h1 {
    margin-bottom: 1em;
  }
  
  form {
    display:flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5em;
  }
  
  input[type="email"],
  input[type="password"] {
    margin-bottom: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
  }
  
  input[type="submit"] {
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: var(--secondary-color);
  }
  
  .text-muted {
    font-size: 0.8em;
    margin-top: 1em;
  }
  
  .text-muted a {
    color: #999;
    text-decoration: none;
  }
  
  .text-muted a:hover {
    text-decoration: underline;
  }
  