/* Palheta de cores -Início */
:root {
  --cor0: #2C3E50;
  --cor1: #FFF;
  --cor2: #2980B9;
  --cor3: #385af3;
  --cor4: #1B2631;
  --cor5: #7F8C8D;
  --cor6: #dda657;
  --cor7: #7ec1d4; 
  --cor8: #d1f1fafc;
  --cor9: #17597d;
}
/* Palheta de cores - Fim */
/* ------------------------------------------------------------------------ */

body {
background-color: var(--cor8);
  margin: 0 10px 0 10px;
  box-shadow: 1px 1px 4px black;
}

/* CSS do cabeçalho - Início */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor9);
  color: var(--cor1);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 1px 1px black;
  height: 3em; /* altura reduzida para 3em */
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 9999;
}

.content {
  background-color: var(--cor8);
  text-align: center;
  padding-top: 10px;
  transition: 1s;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 3em; /* margem superior igual a altura do header */
}

.navigation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
}
.navigation_header > a{
  text-decoration: none;
  color: var(--cor1);
  transition: 1s;
  font-weight: bold;
}
.logo_header > img{
  width: 60px;
}
.active{
  padding: 10px;
  border-radius: 10px;
}
.content{
  
  background-color: var(--cor8);
  text-align: center;
  padding-top: 10px;
  transition: 1s;
  font-size: 1.3em;
  font-weight: bold;
}

/* CSS cabeçalho - Fim */
/* ------------------------------------------------------------------- */

/* CSS containers - Início */
main {
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  height: 300px;
  max-width: 1000px;
  padding: 0px;
}
.promotionlist h3 {
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}
.promotionlist p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.promotionlist {
  text-align: center;
  background-color: var(--cor7);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}
/* -------------- */
/* Inicio Slider */
.products {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}
.slides{
  width: 400%;
  height: 600px;
  display: flex;
}
.slides > input {
  display: none;
}
.product {
  width: 25%;
  position: relative;
  text-align: center;
  margin: 0 10px;
  transition: 2s;
}
.product > img {
  width: 1000px;
  margin-bottom: 370px;
}
#fone{
  height: 600px;
}
#mouse{
  height: 600px;
}
.manual-navigation{
  position: absolute;
  width: 1000px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid var(--cor1);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 20px;
}
.manual-btn:hover{
  background-color: var(--cor1);
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -51%;
}
.navigation_auto > div{
  border: 2px solid var(--cor3);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation_auto{
  position: absolute;
  width: 1000px;
  margin-top: 560px;
  display: flex;
  justify-content: center;
}
.navigation_auto > div:not(:last-child){
  margin-right: 20px;
}
#radio1:checked ~ .navigation_auto .auto_btn1{
  background-color: var(--cor1);
}
#radio2:checked ~ .navigation_auto .auto_btn2{
  background-color: var(--cor1);
}
#radio3:checked ~ .navigation_auto .auto_btn3{
  background-color: var(--cor1);
}
.product .name {
  font-weight: bold;
  margin-top: 0px;
  font-size: 1.7em;
}
.product .price {
  color: var(--cor0);
  font-size: 1.3rem;
  margin-top: 0px;
  
}
/* Fim Slider */
/* ----------- */
/* CSS containers - Fim */
/* ------------------------------------------------------------------------- */


/* Estilo para o filtro de preço */
.product-filter label {
  font-weight: bold;
  color: var(--cor1);
}
.product-list-section {
  padding-top: 100px;
  text-align: center;
}
.product-grid {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  min-height: 70px;
}
.product-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 5px 5px 20px;
}
.product-grid-item > img {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  padding-bottom: 30px;
}
.product-grid-item > h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.product-grid-item > p {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}
.product-grid-item > button {
  background-color: var(--cor3);
  color: var(--cor8);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.product-grid-item button:hover {
  background-color: var(--cor2);
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
}
/* ------------------------------------------------------------------------------ */

/* Estilo para o campo de frete */
.shipping-section label {
  font-weight: bold;
}
.shipping-section input {
  margin-left: 8px;
  padding: 4px;
}
.shipping-section button {
  margin-left: 8px;
  padding: 4px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.shipping-section p {
  margin-top: 8px;
  font-weight: bold;
}
/* ------------------------------------------------------------------------------ */

/* Media queries */
@media screen and (max-width: 800px) {
  .anuncio {
  margin-left: 20px;
  }
  
  .login {
  margin-left: 20px;
  }
  
  main {
  padding: 10px;
  }
}
