       /* Paleta de cores */
       :root {
        --cor0: #2C3E50;
        --cor1: #FFF;
        --cor2: #2980B9;
        --cor3: #385af3;
        --cor4: #1B2631;
        --cor5: #7F8C8D;
        --cor6: #fffd82;
        }
        body{
        
        background-color:var(--cor0) ;
      }
      /* Estilo para o contêiner */

      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        margin: 0 auto;
        margin-top: 6cm;
        max-width: 400px;
        padding: 20px;
        ;
      }
      
      /* Estilo para labels */
      label {
        color: #000;
        display: block;
        margin-bottom: 5px;
      }
      
      /* Estilo para inputs */
      input[type="email"], 
      input[type="password"], 
      input[type="submit"] {
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-size: 16px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
      }
      
      /* Estilo para o botão submit */
      input[type="submit"] {
        background-color: var(--cor3);
        color: var(--cor1);
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 100%;
        max-width: 300px;
        cursor: pointer;
        box-shadow: 0 0 10px var(--cor3);
        margin-left:1.1cm;
} 
      /* Estilo para o botão hover */
      input[type="submit"]:hover {
        background-color: #007FFF;
      }
    